

body.light-mode * {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .contenedor *{
    background-color: #ffffff; 
    color: #000000;
}



body.light-mode nav * {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para el modo oscuro */
body.dark-mode * {
    background-color: #010014;
    color: #ffffff;
}

.dark-mode .contenedor * {
    background-color: #010014;
    color: #ffffff;
}


body.dark-mode nav *{
    background-color: #010014;
    color: #ffffff;
}






/* HTML */
#htmlinfo {

        width: 80%;
        margin: 40px;
        height: 200px;
        padding: 35px;
        margin-top: 20px;
        color: #ccc;
        font-family: italic;
        display: flex;
        justify-content: space-around;
       

}
#htmlinfo h1 {
    font-size: 40px;
}
#htmlinfo{
    margin: auto
}
#htmlinfo img {
    max-width: 200px;
    max-height: 200px;

}
#htmlinfo img:hover {
    transition: 0.3s ease;
    scale: 1.2;
}

#main {
   
    width: 80%;
    color: rgb(219, 219, 219);
    padding: 50px;
    margin: auto;
    display: flex;
    font-size: 30px;
}
section {
    position: relative;
    left: 60px;
    bottom: 60px;
    
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
section h2 {
    width: 200px;
    font-size: 30px;
}
section li {
    margin: 30px;
    margin-top: 40px;
    width: auto;
    border: 1px solid;
    border-radius: 14px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
}
section li:hover {
    scale: 1.7;
   
}
#dato {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    margin-top: 40px;
}
#dato img {
    max-width: 300px;
    max-height: 300px;
}
#dato #textoHTML{
    width: 300px;
}
#dato2  {
  padding: 30px;

}
#dato2 img {
    margin-top: 200px;
    
}
#tipos p {
  display: block;
  font-size: 30px;
}
#tipos {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;

 
}
 h4 {
  margin-bottom: 40px;
  font-size: 35px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tipos form {
  border: 1px solid;
  justify-content: center;
  border-radius: 15px;
  border-color:rgb(0, 0, 255) ;
  width: 40%;
  margin:auto;
  padding: 20px;
  font-size: 22px;
  margin-bottom: 10px;
}


/** css*/


body.light-mode * {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .contenedor *{
    background-color: #ffffff; 
    color: #000000;
}



body.light-mode nav * {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para el modo oscuro */
body.dark-mode * {
    background-color: #010014;
    color: #ffffff;
}

.dark-mode #cssinfo * {
    background-color: #010014;
    color: #ffffff;
}


body.dark-mode nav *{
    background-color: #010014;
    color: #ffffff;
}

#cssinfo {
    display: flex;
    justify-content: space-around;
    margin: auto;
    
    width: 80%;

}
#cssinfo img {
    max-width: 200px;
    max-height: 200px;
}
#mainCss {
    margin: auto;
    width: 80%;
    
}
#mainCss p {
   
    font-size: 30px;
}
#artist {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#artist img {
    max-width: 370px;
    max-height: 370px;
    margin-top: 120px;
}
#artist #textArtist{
    width: 250px;
    font-size: 30px;
    
    margin-top: 50px;
}

#dato2 {
    display: flex;
    margin-top: 60px;
    color: white;

}
#dato2 div {
    padding: 30px;
    margin: 30px;
    font-size: 20px;
}
/* caja loca*/
#cssdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  width: 80%;
  margin: auto;
  padding: 30px;
    height: 500px;
    margin-top: 40px;

}
#sub {
    height: 100px;
    width: 300px;
    font-size: 22px;
    position: relative;
    bottom: 140px;
}
#cajadelacaja {
    border: 3px solid rgb(0, 60, 255);
    border-radius: 30px;
    padding: 15px;
    display: flex;
    align-items: first baseline;
    justify-content: first baseline;
    height: 320px;
    width: 320px;
}
.crazy-box {
    position: relative;
    padding: 10px;
   /* right: 200px;
    top: 120px;*/
    width: 100px;
    height: 100px;
    background-color: #ff6347;
    animation: crazyAnimation 5s infinite;
   
  }

  @keyframes crazyAnimation {
    0% {
      transform: translate(0, 0) rotate(0deg);
      background-color: #ff6347;
      border-radius: 0;
    }
    25% {
      transform: translate(200px, 0) rotate(90deg);
      background-color: #ffd700;
      border-radius: 25%;
    }
    50% {
      transform: translate(200px, 200px) rotate(180deg);
      background-color: #8a2be2;
      border-radius: 50%;
    }
    75% {
      transform: translate(0, 200px) rotate(270deg);
      background-color: #1e90ff;
      border-radius: 75%;
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
      background-color: #ff6347;
      border-radius: 0;
    }
  }


  #imagenloca {
    
    display: block;
    
    
    margin: auto;
    width: 70%;
    height: 650px;
   
  }
  #cajadefoto {
    border: 3px solid; color: rgb(58, 4, 119); 
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    height: 150px;
  }
  #imagenloca #descripcion p {
    font-size: 22px;
    
    width: 60%;
  }
  #imagenloca #descripcion ul {
    
    margin: 30px;
    width: 600px;

  }
  #imagenloca #descripcion {
    padding: 20px;
    
    width: 100%;
    height: 330px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 20px;
    
   
    
  }
  .crazy-image {
    
    width: 140px;
    height: 140px;
    background-image: url('imagenes/perro.png');
    background-size: cover;
    animation: tranquilImageAnimation 6s infinite ease-in-out;
  }

  @keyframes tranquilImageAnimation {
    0%, 100% {
      transform: translateX(0) scale(0.5);
      opacity: 0.4;
    }
    25% {
      transform: translateX(300px) scale(1);
      opacity: 0.7;
    }
    50% {
      transform: translateX(600px) scale(1.5);
      opacity: 1;
    }
    75% {
      transform: translateX(300px) scale(1);
      opacity: 0.7;
    }
  }
#descripcion {
    
        height: 100px;
        width: 300px;
        font-size: 20px;
    
}

#mouseover {
    width: 80%;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 700px;
   

}
.contenedor-imagen {
    position: relative;
    width: 300px;
    height: 280px;
    overflow: hidden;
    border: 3px solid rgb(0, 255, 234);
    border-radius: 20px;
    position: relative;
    left: 300px;
}
.contenedor-imagen img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-out;
}
.contenedor-imagen:hover img {
    transform: translateY(220px); 
}
#transition {
    
    height: 300px;
    font-size: 22px;
}

/*JS*/
#cuerpoJS {
    display: flex;
    padding: 30px;
    margin: 30px auto;
   
    justify-content: space-around;
}

#seccion {
    display: flex
   
}
#seccion div {
    padding: 40px;
    margin: 40px;
    font-size: 22px;
}
#seccion div img {
    max-width: 350px;
    max-height: 350px;
}



/* MINI JUEGO EN JS*/
.game-container {
    text-align: center;
   
    border-radius: 15px;
    margin: auto;
    width: 80%;
    padding: 20px;
    height: 650px;
    background-color: #F0DB4F !important;
    color: #000000 !important;

  }
  .game-container h1 {
    background-color: #F0DB4F !important;
    color: #000000 !important;
  }

  .guess-input {
    padding: 8px 16px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: #F0DB4F !important;
    color: #000000 !important;
  }

  .guess-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: black !important;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    outline: none;
  }

  .message {
    font-size: 18px;
    margin-top: 20px;
    background-color: #F0DB4F !important;
    color: #000000 !important;

  }
  #explicacion {
    font-size: 20px;
    background-color: #F0DB4F !important;
    color: #000000 !important;
  }
  #explicacion ul li strong {
    background-color: #F0DB4F !important;
    color: #000000 !important;
  }
  #explicacion ul {
    background-color: #F0DB4F !important;
    color: #000000 !important;
  }
  #explicacion ul li {
    background-color: #F0DB4F !important;
    color: #000000 !important;
  }



  /** otro mini juego*/
 
  #otroJuego {
    
    height: 800px;
    width: 80%;
    margin: 40px auto;
    display: block;
    border: 3px solid #F0DB4F;
    border-radius: 15px;
    padding: 20px;
    background-color: #F0DB4F;
    
}
#otroJuego p {
    color: #000000 !important;
    font-size: 25px;
    background-color: #F0DB4F;
}
#deslizador {
    width: 100%; /* Ancho del input range */
    margin: 20px auto; /* Espacio inferior */
    
    
    
}

#redimensionable {
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: rgba(158, 0, 0, 0.623);
    transition: width 0.2s, height 0.2s;
    border: 3px solid color black;
    border-radius: 3px; /* Para una transición suave */
}

/* Finalizar compra */
#producto-info {
 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
    background-color: #999999 !important;
   

}
#resumen-compra {
  background-color: #999999;
  padding: 10px;
  margin: 10px;
}


#cuerpoFinalizarCompra {
    min-height: 600px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: auto;
    width: 60%;
    background-color: #999999 !important;
    
    
}

#resumen-compra img{
    max-width: 100px;
    max-height: 100px;
    background-color: #999999 !important

}
#resumen-compra {
  background-color: #999999 !important
}
/* Estilos para cada producto */
.producto {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #999999 !important;
  margin: 20px;
}

/* Estilos para la imagen del producto */
.producto img {
  max-width: 80px;
  max-height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

/* Estilos para la información del producto */
.producto-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #999999 !important
}

/* Estilos para el nombre del producto */
.producto-nombre {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  background-color: #999999 !important;
}

/* Estilos para el precio del producto */
.producto-precio {
  font-size: 1em;
  color: #666;
  background-color: #999999 !important;
}
#confirmar-compra-btn {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
 /* background-color: #999999 !important;*/
}

#pagar, #pago-formulario, #form-group{
  background-color: #999999 !important;
}
#pago-formulario {
  font-size: 22px;

}
#confirmar-compra-btn {
  background-color: rgb(0, 190, 0);
  border: 1px solid;
  color: #000000;
  position: relative;
  margin-top: 50px;
  left: 60px;
  transition: 0.7s ease;

}
#confirmar-compra-btn:hover {
  scale: 1.1;
  box-shadow:0 0px 15px rgb(255, 255, 255); 
  background-color: rgb(0, 199, 0);
}